* {
    font-family: 'Gochi Hand', cursive;
    margin: 0;
}

html, body {
    height: 100vh;
}

.page-container {
    background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    height: 100%;
}

.correcto {
    transition: background-color 2s;
    background-color: #c5f8c5;
}

.incorrecto {
    background-color: #ff7e7e;
}

#subtitulo {
    text-align: center;
}

h1 {
    text-align: center;
    color: #3b4652;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

.form-container {
    display: flex;
    align-self: center;
    padding-top: 20px;
    height: 50%;
}

#reiniciar {
    width: 80%;
    height: 40px;
    font-family: 'Rubik Iso', cursive;
    font-size: 1rem;
    font-weight: 600;
    background-color: #4682A9;
    border-radius: 5px;
    border: 1px solid #97b8ec;
    cursor: pointer;
}

#reiniciar:hover {
    background-color: #4682A9;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

.input-container p {
    font-size: 1.8rem;
    font-weight: 600;
}

#objetivo {
    margin-top: 5px;
    font-size: 1rem;
}

.intento-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: fit-content;
    overflow-y: auto;
    margin-top: 15px;
}

.intento-container::-webkit-scrollbar {
    width: 10px;
}

.intento-container::-webkit-scrollbar-track {
    background-color: #b0cce2;
}

.intento-container::-webkit-scrollbar-thumb {
    background-color: #4c74b4;
    border-radius: 5px;
}

.intento-container::-webkit-scrollbar-thumb:hover {
    background-color: #202738;
}

button[type="submit"] {
    width: 70%;
    height: 50px;
    padding: 6px;
    font-family: 'Rubik Iso', cursive;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: #4682A9;
    border: 1px solid #5e8ad1;
    cursor: pointer;
}

input[type="number"] {
    width: 33%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #b49f9f;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}

label, select, input, option {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.3rem;
}

select, option {
    height: 30px;
    border-radius: 7px;
    border: 1px solid rgb(185, 178, 178);
    cursor: pointer;
}

::placeholder {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 80%;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 8px 0 0 5px;
    width: 200px;
}

.info-container p, .info-container button {
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 20%;
}

.title {
    display: flex;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalCorrecto, .modalIncorrecto {
    display: flex;
    flex-direction: column;
    background-color: #C5DFF8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modalCorrecto {
    background-color: #c5f8c5;
}

.modalIncorrecto {
    background-color: #a83d3d;
}

.pCorrecto {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(43, 71, 15);
}

.pIncorrecto {
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
}

#msgModal {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 60px;
    align-self: center;
}

.close {
    color: #0e0d0d;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
}

@media only screen and (max-width: 600px) {
    .container {
        height: 60%;
    }

    h1 {
        order: 1;
    }
    
    .page-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .info-container {
        align-items: center;
        align-self: center;
        margin-bottom: 20px;
    }

    .input-container p {
        font-size: 1rem;
    }

    input[type="number"] {
        width: 35%;
        height: 25px;
    }

    #subtitulo {
        font-size: 1.2rem;
    }

    .selectContainer {
        width: 50%;
        margin-bottom: 40px;
    }

    .modalCorrecto, .modalIncorrecto {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #C5DFF8;
        margin: 15% auto;
        padding: 3px;
        border: 1px solid #888;
        width: 50%;
        height: 30%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .modalCorrecto {
        background-color: #c5f8c5;
    }

    .modalIncorrecto {
        background-color: #a83d3d;
    }

    #msgModal {
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 80px;
        align-self: center;
    }
}
